# EditorConfig is awesome: https://EditorConfig.org
# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs
# See how to download a plugin for your editor/ IDE: https://editorconfig.org/#download

root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_size = 4
